@import url(https://fonts.googleapis.com/css2?family=Potta+One&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Potta One", cursive;
}

#app {
  width: 100%;
  height: 100vh;
  background-color: #A3ADB8;
  overflow: hidden;
}

#start-window, #game-window {
  width: 100%;
  height: 100%;
}

#start-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#start-window h2 {
  margin: 20px 0;
  font-size: 50px;
}
#start-window button {
  margin: 0 20px;
  padding: 30px 50px;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(43, 39, 41, 0.7);
  box-shadow: 2px 2px 2px 2px #000000;
}

#final-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}
#final-window h2 {
  font-size: 150px;
}

.pos-rel {
  position: relative;
}

:focus {
  outline: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.btn-jittery {
  -webkit-animation: jittery 4s infinite;
          animation: jittery 4s infinite;
}

@-webkit-keyframes jittery {
  5%, 50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes jittery {
  5%, 50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  background-color: rgba(43, 39, 41, 0.7);
}

main {
  height: calc(100% - 100px - 50px);
  padding: 50px 0;
}
main .game-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
}
main .game-field .card-container {
  padding: 20px 0;
}
main .card {
  width: 100px;
  height: 100%;
  margin: auto;
  border: 3px solid #2B2729;
  border-radius: 3px;
  background-color: #F5F5F5;
  cursor: pointer;
}
main .card .inner-card {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
main .card .inner-card .front-card {
  background-image: url("../img/front_card.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .card .inner-card .back-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: rotateY(180deg);
}
main .card .inner-card .back-card i {
  font-size: 50px;
}
main .card .inner-card .front-card, main .card .inner-card .back-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  background-color: rgba(43, 39, 41, 0.7);
}
footer i {
  font-size: 40px;
  color: #ffffff;
}
