* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  background-color: #A3ADB8;
}

#game-window {
  width: 100%;
  height: 100%;
}

.pos-rel {
  position: relative;
}

header {
  height: 100px;
  background-color: rgba(43, 39, 41, 0.7);
}

main {
  height: calc(100% - 100px - 50px);
  padding: 50px 0;
}
main .game-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto;
}
main .game-field .card-container {
  padding: 20px 0;
}
main .card {
  width: 100px;
  height: 125px;
  margin: auto;
  border: 3px solid #2B2729;
  border-radius: 3px;
  background-color: #F5F5F5;
  cursor: pointer;
}
main .card .inner-card {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
main .card .inner-card .back-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .card .inner-card .back-card i {
  font-size: 50px;
}
main .card .inner-card .front-card, main .card .inner-card .back-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(43, 39, 41, 0.7);
}
