* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Potta One', cursive;
}
#app {
  width: 100%;
  height: 100vh;
  background-color: $appColor;
}
#game-window {
  width: 100%;
  height: 100%;
}
.pos-rel {
  position: relative;
}
