main {
  height: calc(100% - #{$headerHeight} - #{$footerHeight});
  padding: 50px 0;

  .game-field {
    @include setFlexContainer(row, flex-start, stretch);
    margin: auto;

    .card-container {
      padding: 20px 0;
    }
  } //game-filed

  // carta che deve girare al click del mouse
  .card {
    width: $cardWidth;
    height: $cardHeight;
    margin: auto;
    border: 3px solid #2B2729;
    //perspective: 1000px;
    border-radius: 3px;
    background-color: $backCardColor;
    cursor: pointer;

    .inner-card {
      @include setWH(100%, 100%);
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      // commenta per debuggare
      .front-card {
        @include setBgImage(front_card, png, no-repeat, contain, center);
      } //front-card

      .back-card {
        @include setFlexContainer(row, center, center);
        transform: rotateY(180deg); // commenta per debuggare

        i {
          font-size: 50px;
        }
      } //back-card

      .front-card, .back-card {
        @include posAbsolute(0, 0);
        @include setWH(100%, 100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      } //front-card e back-card comunes
    } //inner-card
  } //card
} //main
